In [1]:
import pandas as pd

In [2]:
houses = pd.read_csv('../DataAnalysis/data/kc_house_data.csv')
titanic = pd.read_csv('../DataAnalysis/data/titanic.csv')
BTC = pd.read_csv('../DataAnalysis/data/coin_Bitcoin.csv')
countries = pd.read_csv('../DataAnalysis/data/world-happiness-report-2021.csv')

Converting Data Types

In [3]:
# Object
# Int
# Float
# Category

In [4]:
titanic.age.astype('float')

ValueError: could not convert string to float: '?'

In [ ]:
titanic['age'].replace(['?'],[None],inplace=True)

In [ ]:
titanic.age

0           29
1       0.9167
2            2
3           30
4           25
         ...
1304      14.5
1305      None
1306      26.5
1307        27
1308        29
Name: age, Length: 1309, dtype: object

In [ ]:
# titanic.age.value_counts(dropna=False)

In [ ]:
titanic['age']

0           29
1       0.9167
2            2
3           30
4           25
         ...
1304      14.5
1305      None
1306      26.5
1307        27
1308        29
Name: age, Length: 1309, dtype: object

In [ ]:
titanic['age'].astype('float')

ValueError: could not convert string to float: 'None'

In [ ]:
titanic.sex.astype('category')

0       female
1         male
2       female
3         male
4       female
         ...
1304    female
1305    female
1306      male
1307      male
1308      male
Name: sex, Length: 1309, dtype: category
Categories (2, object): ['female', 'male']

To Numeric Method

In [6]:
titanic = pd.read_csv('../DataAnalysis/data/titanic.csv')

In [10]:
titanic.age.value_counts()

age
?         263
24         47
22         43
21         41
30         40
         ...
66          1
0.6667      1
76          1
67          1
26.5        1
Name: count, Length: 99, dtype: int64

In [12]:
# Replaces non Numeric val to NAN
pd.to_numeric(titanic['age'],errors='coerce')

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: age, Length: 1309, dtype: float64

Dropna - Its a series and pd method

In [14]:
stats = pd.read_csv('../DataAnalysis/data/game_stats.csv')

In [16]:
stats

       name      league  points  assists  rebounds
0       bob         nba    22.0      5.0      10.0
1    jessie         NaN    10.0      NaN       2.0
2       stu  euroleague     NaN      NaN       NaN
3   jackson         aba     9.0      NaN       2.0
4  timothee         NaN     8.0      NaN       NaN
5     steph         nba    49.0      8.0      10.0
6       NaN         NaN     NaN      NaN       NaN

In [19]:
stats.isna()

    name  league  points  assists  rebounds
0  False   False   False    False     False
1  False    True   False     True     False
2  False   False    True     True      True
3  False   False   False     True     False
4  False    True   False     True      True
5  False   False   False    False     False
6   True    True    True     True      True

In [23]:
stats['league'].isna()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
Name: league, dtype: bool

In [25]:
# This is a series and df methos
# Return values which are not NA
stats['league'].dropna()

0           nba
2    euroleague
3           aba
5           nba
Name: league, dtype: object

DropNa In a DF

In [27]:
# Drop Any Row With NAN Values
stats.dropna()

    name league  points  assists  rebounds
0    bob    nba    22.0      5.0      10.0
5  steph    nba    49.0      8.0      10.0

In [ ]:
# Drop A row if any value is NA

FILLNA - >Replace NA values

In [30]:
# Fill with 0's
stats.fillna(0)

       name      league  points  assists  rebounds
0       bob         nba    22.0      5.0      10.0
1    jessie           0    10.0      0.0       2.0
2       stu  euroleague     0.0      0.0       0.0
3   jackson         aba     9.0      0.0       2.0
4  timothee           0     8.0      0.0       0.0
5     steph         nba    49.0      8.0      10.0
6         0           0     0.0      0.0       0.0

In [31]:
# Fill a single row
stats['assists'].fillna('no leage')

0         5.0
1    no leage
2    no leage
3    no leage
4    no leage
5         8.0
6    no leage
Name: assists, dtype: object